li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
#sidebar{
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed{
    margin-left: -264px;
}

.toggler-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.navbar{
    padding: 1.15rem 1.5rem;
}
.sidebar-nav{
    flex: 1 1 auto;
}

.sidebar-logo{
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a{
    color: black;
    font-weight: 800;
    font-size: 1.25rem;
}

.sidebar-header{
    color: black;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: black;
    position: relative;
    transition: all 0.35s;
    display: block;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;

}
.sidebar-link[data-bs-toggle="collapse"].collpsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

@media(max-width:768px){
    
    .sidebar-toggle{
        margin-left: -264px;
    }

    #sidebar.collapsed{
        margin-left:0;
    }
}

