<div class="d-flex">
  <aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
      <a href="/">HelpDesk</a>
    </div>
    <ul class="sidebar-nav p-0">
      <li class="sidebar-header">Admin Tools</li>
      <li class="sidebar-items">
        <a href="/" class="sidebar-link">
          <i class="fas fa-users"></i>
          <span>Employees</span>
        </a>
      </li>
      <li class="sidebar-items">
        <a href="/" class="sidebar-link">
          <i class="fas fa-user-tie"></i>
          <span>Employee Roles</span>
        </a>
      </li>
      <li class="sidebar-header">Manage, Create & View</li>
      <li class="sidebar-items">
        <a href="/" class="sidebar-link">
          <i class="fas fa-ticket"></i>
          <span>Tickets</span>
        </a>
      </li>
      <li class="sidebar-items">
        <a href="/" class="sidebar-link">
          <i class="fas fa-ticket-simple"></i>
          <span>Assigned Tickets</span>
        </a>
      </li>
      <li class="sidebar-items">
        <a href="/" class="sidebar-link">
          <i class="fas fa-circle-check"></i>
          <span>Created Tickets</span>
        </a>
      </li>
      <li class="sidebar-header">Profile Management</li>
      <li class="sidebar-items">
        <a href="/" class="sidebar-link">
          <i class="fas fa-address-card"></i>
          <span>Edit Profile</span>
        </a>
      </li>
      
    </ul>
    <div class="sidebar-footer" *ngIf="isLoggedIn">
      <a href="/" class="sidebar-link" (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
        </a>
    </div>
    </aside>
    <div class="main">
      <nav class="navbar navbar-expand border-bottom">
        <button title="Toggle Menu" class="toggler-btn" type="button" (click)="toggle()">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
      <main class="p-3">
        <div class="container-fluid">
          <div class="mb-3 text-center">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
</div>